/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .col-1,.col-2 {
 	max-width: 100% !important;
 }
 span.select2.select2-container.select2-container--default.select2-container--focus {
 	width: 100% !important;
 }
 .checkout.woocommerce-checkout {
 	display: flex!important;
 	flex-wrap: wrap!important;
 }
 .woocommerce-shipping-fields {
 	padding-top: 12px;
 }
 .bgColorWhite.wc-checkout-footer {
 	margin-top: 100px
 }
 .payment-fields-wrap {
 	padding: 15px 15px 0px 15px;
 }
 .input-radio {
 	display: none;
 }

 #order_review {
 	background-color: #ffffff;
 	padding: 20px;
 }
 #customer_details {
 	background: #ffffff;
 	padding: 10px;
 }
 .form-row.place-order {
 	width: 100% !important;
 }
 #wc-authorize-net-cim-credit-card-account-number_field {
 	width: 100% !important;
 }
 .woocommerce-terms-and-conditions-wrapper ..form-row.validate-required {
 	width: 100%!important;
 }
 .woocommerce-terms-and-conditions-wrapper {
 	display: flex!important;
 	padding-left: 25px;
 }
 body.woocommerce-checkout .woocommerce-checkout-payment button[type="submit"] {
 	float: left!important;
 }
 .hidden_section, .place-order {
 	display: none;
 }
 .mwb_youveda_place_order {
 	display: block !important;
 }
 .wc-authorize-net-cim-credit-card-new-payment-method-form.js-wc-authorize-net-cim-credit-card-new-payment-method-form {
 	display: flex;
 	flex-wrap: wrap;
 }
 #wc-authorize-net-cim-credit-card-csc_field {
 	flex: 4px;
 }
 .woocommerce-checkout-review-order .ic_tooltip:first-child {
 	display: none!important;
 }
 .form-row.place-order.mwb_youveda_place_order {
 	text-align: center!important;
 	margin-bottom: 30px!important;
 }
 .wc_payment_methods.payment_methods.methods {
 	display: flex ;
 	flex-wrap: wrap;
 	position: relative;
 	margin-bottom: 0px;
 }
 .payment_box.payment_method_authorize_net_cim_credit_card {
 	margin-top: 60px;
 }
 .woocommerce-page .entry-wrap .wc_payment_methods > .wc_payment_method > label {
 	float: left!important;
 }
 #bill-to-different-address {
 	margin: auto;
 }
 .woocommerce-billing-fields__field-wrapper {
 	display: none;
 }
 #wc-authorize-net-cim-credit-card-expiry_field {
 	margin-right: 0;
 }
 .wc_payment_method.payment_method_paypal {
 	position: absolute;
 	top: 0;
 	left: 135px;
 	right: auto;
 }
 .order_review_arrow_up {
 	transform: rotate(180deg);
 }
 .order_review_cart_total {
 	float: right;
 }
 .select2.select2-container.select2-container--default {
 	width: 100% !important;
 }
 .order_review_heading_toggle {
 	transition: 0.2s linear all;
 }
 .shop_table.woocommerce-checkout-review-order-table {
 	transition: all 0.5s ease-out 0s;
 }
 .payment_box.payment_method_paypal {
 	margin-top: 50px;
 	margin-left: -130px;
 }
 .pi-estimated-date-checkout {
 	font-family: inherit;
 	font-weight: 600;
 }
 .woocommerce-billing-fields {
 	margin-top: 35px;
 }
 .mwb-custom-item-quantity {
 	font-size: 11px;
 	font-weight: 500;
 	line-height: 17px;
 	white-space: nowrap;
 	text-align: center;
 	border-radius: 10px;
 	background-color: rgba(114,114,114,0.9);
 	color: #fff;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 	min-width: 20px;
 	height: 20px;
 	padding: 0 6px;
 	position: absolute;
 	margin-top: 7px;
 	right: 30.25em;
 }
 td.product-name {
 	display: flex;
 }
 .mwb-custom-item-name {
 	width: 60%;
 	margin-left: 10px;
 }
 .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
 	width: 100%;
 }
 #amazon_customer_details {
 	width: 50%;
 	background: #ffffff;
 	padding-top: 17px;
 }
 body.woocommerce-checkout #amazon_consent_widget {
 	width: 94%!important;
 	margin: 15px!important;
 }
/*-----------------------------
		Media Query
		-----------------------------*/
		@media only screen and (max-width: 1024px){
			h3#order_review_heading {
				padding: 10px;
			}
			.woocommerce-checkout-review-order-table {
				display: none;
			}
			.woocommerce-notices-wrapper {
				margin-bottom: 10px;
			}
			.entry-content:before, .entry-content:after {
				content: "";
				display: none !important;
				width: 0px;
			}
		}
		@media only screen and (max-width: 600px){
			.checkout.woocommerce-checkout{
				display: flex;
				flex-wrap: wrap;
			}
			#order_review {
				width: 100%;
				background: #fff;
				height: max-content;
				margin-bottom: 8px;
				padding: 0px;
			}
			.woocommerce-checkout form h3 {
				font-size: 19px !important;
			}
			#order_review_heading {
				margin: auto;
				padding: 10px;
			}
			.order-summary-toggle__icon {
				margin-bottom: -4px;
			}
			#customer_details {
				width: 100%;
			}
			.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
				margin-top: 16px;
			}
			#amazon_customer_details {
				width: 100%;
			}
			body.woocommerce-checkout #amazon_consent_widget {
				width: 91%!important;
				margin: 15px!important;
			}
			.mwb-custom-item-thumbnail {
				position: relative;
			}
			.mwb-custom-item-quantity {
				position: absolute;
				top: 0;
				left: 43px;
			}
		}
		@media only screen and (min-width: 600px) {
			#order_review {
				width: 100%;
				max-width: 40%;
				margin-left: 35px;
				height: max-content;
			}
			#customer_details {
				width: 100%;
				max-width: 60%;
				padding: 10px;
				flex: 10%;
			}
			#wc-authorize-net-cim-credit-card-expiry_field {
				margin-right: 4%;
			}
			.mwb-custom-item-thumbnail {
				position: relative;
			}
			.mwb-custom-item-quantity {
				position: absolute;
				top: 0;
				left: 43px;
			}

			
		}
