/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .col-1,.col-2 {
 	max-width: 100% !important;
 }
 span.select2.select2-container.select2-container--default.select2-container--focus {
 	width: 100% !important;
 }
 /*.woocommerce-shipping-fields{
	background-color: #ffffff;
	padding: 20px;
}*/
.bgColorWhite.wc-checkout-footer {
	margin-top: 100px
}
.payment-fields-wrap {
    padding: 15px;
}
.input-radio {
	display: none;
}
.ic_tooltip {
	padding: 10px;
}
 
/*.woocommerce-billing-fields {
	background-color: #ffffff;
	padding: 20px;
	display: flex;
	flex-direction: column-reverse;
}*/
#order_review {
	background-color: #ffffff;
}
#customer_details {
	width: 100%;
	background: #ffffff;
	padding: 10px;
}
.form-row.place-order {
	width: 100% !important;
}
#wc-authorize-net-cim-credit-card-account-number_field {
    width: 100% !important;
}
.wc_payment_method.payment_method_paypal {
	display: none!important;
}
.woocommerce-terms-and-conditions-wrapper ..form-row.validate-required {
	width: 100%!important;
}
.woocommerce-terms-and-conditions-wrapper {
    display: flex!important;
}
body.woocommerce-checkout .woocommerce-checkout-payment button[type="submit"] {
    float: left!important;
}
.form-row.validate-required.woocommerce-validated {
    width: 100%!important;
}

/*.form-row.validate-required.woocommerce-invalid.woocommerce-invalid-required-field {
	width: 100%!important;
}*/

/*.wc-authorize-net-cim-credit-card-new-payment-method-form.js-wc-authorize-net-cim-credit-card-new-payment-method-form p:not:first-child {
  display: flex!important;
}*/

@media only screen and (min-width: 600px) {
.checkout.woocommerce-checkout{
	display: flex;
}
#order_review {
	width: 100%;
	max-width: 40%;
	background: #fff;
	padding: 20px;
	margin-left: 30px;
	height: max-content;
	/*display: flex;
	flex-direction: column-reverse;*/
}

}
